.controlItem_item,
.controlItem_pageItem {
    width: 100%;
    height: 50px;
    display: block;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

.controlItem_item svg {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    inset: 0;
    margin: auto;
    transition: .5s;
}

.controlItem_pageItem:hover {
    background: #535ce7;
}

.controlItem_pageItem:hover svg {
    /* width: 25px;
    height: 25px; */
    transform: scale(1.3);
}

.controlItem_pageItem:hover svg path {
    stroke: #ffffff;
}