.card {
    @apply p-5;
    width: 100%;
    background: #ffffff;
    border-radius: 20px;
}

.card_title {
    @apply text-lg font-medium;
}

.card_default {
    height: 100%;
    min-height: 100px;
}

.card_fitContent {
    height: fit-content;
}